<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>-->
  <system.web>
    <authentication mode="Windows" />


    <authorization>
      <deny users="?" />
    </authorization>

    <customErrors mode="Off"></customErrors>
    <identity impersonate="false"></identity>
    <compilation debug="true" targetFramework="8.0" />

    <pages>
      <namespaces>
        <add namespace="MeetingScheduler.Infrastructure.Extensions" />
      </namespaces>
    </pages>
  </system.web>

	<system.webServer>
		<!--<modules runAllManagedModulesForAllRequests="true" />-->
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout\" forwardWindowsAuthToken="true"/>
	</system.webServer>


</configuration>